@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Jersey20';
    src: url('/public/fonts/Jersey20-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.bodyColor
{
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
    background-color: #E4E6D4;
    font-family: 'Jersey20', sans-serif;
    font-size: 25px;
    color: white;
    font-weight: bold; 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.homePageImage
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.hpImg
{
    width: 80%;
    height: 50%;
}

.hpMenuImg
{
    width: 70%;
    height: 30%;
    border: solid 4px black;
    border-radius: 20px;
}

.menuTekst
{
    font-size: 60px; 
    text-shadow: 4px 4px 0 #000, -4px -4px 0 #000, 4px -4px 0 #000, -4px 4px 0 #000;
    margin-top: 30%;
}

.menuTekst:hover
{
    color: #9b9b9b;
}
.sloganTekst
{
    text-shadow: 4px 4px 0 #000, -4px -4px 0 #000, 4px -4px 0 #000, -4px 4px 0 #000;
}

.thirdDiv {
    margin-top: 250px;
    
}
.thirdDivTekst
{
    font-size: 60px; 
    text-shadow: 4px 4px 0 #000, -4px -4px 0 #000, 4px -4px 0 #000, -4px 4px 0 #000;
    text-align: center;
}
.ImgDivs
{
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
}

.success-message {
    background-color: #4CAF50; /* Green background */
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    margin-top: 10px; /* Adjusted space from header */
    width: 30%;
    position: relative;
    z-index: 10;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
.overOnsimg
{
    margin-top: 40px;
    margin-left: 75px;
    width: 75%;
    height: 70%;
    border: solid 4px black;
    border-radius: 20px;
}
.solliciterenImg
{
    margin: 40px;
    margin-left: 150px;
    width: 70%;
    height: 70%;
    border: solid 4px black;
    border-radius: 20px;
}

.aTag {
    display: inline-block;
    padding: 0;
    margin: 0;
}
.submitKnop{
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
    font-weight: bold;
}

