.bestelling-container {
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
    padding-left: 20px;
}
.button-container {
    margin-left: 500px;
}
.product-div
{
    background-color: #E4E6D4;
    margin: 5%;
    padding: 5%;
}

.success-message {
    background-color: #4CAF50; /* Green background */
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    margin-top: 10px; /* Adjusted space from header */
    width: 30%;
    position: relative;
    z-index: 10;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.align-text-center {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Center text */
}