.menu-container {
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 items per row */
    gap: 20px; /* Add spacing between items */
    text-align: center;
}

.menu {
    box-sizing: border-box;
    color: white;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 7%;
    border-radius: 15px;
    border: 3px solid black;
}

.menu-title {
    font-size: 45px;
    font-weight: bold;
}

.menu-description {
    font-size: 25px;
    font-weight: bold;
}

.menu-price {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10%;
}

.menu-image {
    width: 100%;
    height: 70%;
}

.menu-image img {
    width: 100%;
    height: auto;
}

.menu-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid black;
}

.menu-button:hover {
    background-color: #218838;
}

.add-item-container {
    background-color: #E4E6D4;
    width: 60%;
    height: 90%;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 1000;
    text-align: center;
}

.success-message {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    width: 30%;
    position: relative;
    z-index: 10;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .menu-container {
        grid-template-columns: repeat(2, 1fr); /* 2 items per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .menu-container {
        grid-template-columns: 1fr; /* 1 item per row on very small screens */
    }
}